* {
  border: 1px solid red;
  font-family: 'trebuchet MS';
}

body {
  background-color: aliceblue;
}

p {
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
  width: 400px;
  background-color: white;
  border-radius: 5px;
}

button {
  margin: 10px 20px;
  padding: 15px 32px;
  font-size: 24px;
  text-align: center;
  width: 200px;
  display: inline-block;
  background-color: lightgrey;
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding: 50px 100px;
  font-size: 60px;
  margin-bottom: 0;
}

h5 {
  font-weight: normal;
  text-align: center;
}

div.content {
  width: 800px;
  margin: 50px auto;
  background-color: papayawhip;
  border-radius: 20px;
}

.buttons {
  width: 500px;
  margin: 30px auto;
}

footer {
  padding-top: 100px;
}
